<footer id="footer">
    <div class="container footer_container">
        <div class="dark_mode_widget">
            <p class="dark_mode_title">Modo Escuro:</p>
            <label class="switch">
                <input id="dark-mode-slider" type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
</footer>

<script type="text/javascript" src="../assets/scripts/darkmode.js"></script>