<header id="header">
    <div class="container header_container">
        <h1>
            <a class="home_page" href="/"><b class="black">Market</b><b class="ligth">Place</b></a>
        </h1>

        <form id="search_form">
            <label class="search" for="search">
                <input class="search_input" type="text" id="search" name="search" placeholder="Pesquisar" required>
            </label>
            <input type="image" src="../assets/images/search.svg" id="submit" alt="Pesquisar">
        </form>

        <a class="login" href="/storepanel/logout">
            Sair
        </a>

        <a href="/cart">
            <img src="../assets/images/cart.svg" alt="Carrinho">
        </a>
    </div>
</header>