<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Marketplace</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="../assets/styles/cart.css">
    <link rel="stylesheet" type="text/css" href="../assets/styles/header.css">
    <base href="/">
</head>

<body>

    <%- include('partials/header'); %>

        <main id="cart">
            <div class="container cart_container">
                <div class="cart_div">
                    <div class="cart_products">
                        <div class="cart_store">
                            <div class="store_img"></div>
                            <p class="store_name">Loja 1</p>
                        </div>
                        <hr />

                        <div class="cart_product">
                            <div class="product_img"></div>
                            <div class="product_info">
                                <h2 class="product_name">Lorem Ipsum</h2>
                                <p class="product_description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure...
                                </p>
                            </div>
                            <div class="cart_price">
                                <h3 class="product_price">R$ 99,99</h3>
                                <a class="delete" href="#">
                                    <img src="../assets/images/delete.svg" alt="Excluir">
                                </a>
                            </div>
                        </div>

                        <div class="cart_product">
                            <div class="product_img"></div>
                            <div class="product_info">
                                <h2 class="product_name">Lorem Ipsum</h2>
                                <p class="product_description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure...
                                </p>
                            </div>
                            <div class="cart_price">
                                <h3 class="product_price">R$ 99,99</h3>
                                <a class="delete" href="#">
                                    <img src="../assets/images/delete.svg" alt="Excluir">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="cart_products">
                        <div class="cart_store">
                            <div class="store_img"></div>
                            <p class="store_name">Loja 1</p>
                        </div>
                        <hr />

                        <div class="cart_product">
                            <div class="product_img"></div>
                            <div class="product_info">
                                <h2 class="product_name">Lorem Ipsum</h2>
                                <p class="product_description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure...
                                </p>
                            </div>
                            <div class="cart_price">
                                <h3 class="product_price">R$ 99,99</h3>
                                <a class="delete" href="#">
                                    <img src="../assets/images/delete.svg" alt="Excluir">
                                </a>
                            </div>
                        </div>

                        <div class="cart_product">
                            <div class="product_img"></div>
                            <div class="product_info">
                                <h2 class="product_name">Lorem Ipsum</h2>
                                <p class="product_description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure...
                                </p>
                            </div>
                            <div class="cart_price">
                                <h3 class="product_price">R$ 99,99</h3>
                                <a class="delete" href="#">
                                    <img src="../assets/images/delete.svg" alt="Excluir">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="summary_div">
                    <h2 class="summary">Resumo do Pedido</h2>
                    <div class="subtotal">
                        <p>Subtotal:</p>
                        <p>R$ 399,96</p>
                    </div>
                    <div class="subtotal">
                        <p>Frete:</p>
                        <p>R$ 40,00</p>
                    </div>
                    <hr />
                    <div class="total">
                        <p>Subtotal:</p>
                        <p>R$ 399,96</p>
                    </div>
                    <a class="cta" href="/login">Comprar</a>
                </div>
            </div>
        </main>
</body>

</html>