<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Marketplace</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/styles/storelog.css">
</head>

<body>
    <div class="container">
        <a class="logo" href="/">
            <b class="black">Market</b><b class="ligth">Place</b> Loja
        </a>
        <div class="form_container">
            <% if (messages.error) { %>
                <%= messages.error %>
                    <% } %>
                        <h1 class="form_title">Cadastrar Produto</h1>
                        <form id="form" action="/newproduct" method="POST">
                            <label class="paragraph form_label" for="name">
                                Nome do produto:
                                <input class="form_input" type="email" id="name" name="name" placeholder="" required>
                            </label>
                            <label class="paragraph form_label" for="description">
                                Descrição do produto:
                                <input class="form_input" type="text" id="description" name="description" placeholder=""
                                    required>
                            </label>
                            <label class="paragraph form_label" for="image1">
                                Imagem principal do produto:
                                <input class="form_input" type="file" id="image1" name="image1" placeholder="" required>
                            </label>
                            <label class="paragraph form_label" for="image2">
                                Imagem 2:
                                <input class="form_input" type="file" id="image2" name="image2" placeholder="" required>
                            </label>
                            <label class="paragraph form_label" for="image3">
                                Imagem 3:
                                <input class="form_input" type="file" id="image3" name="image3" placeholder="" required>
                            </label>
                            <label class="paragraph form_label" for="price">
                                Preço do produto:
                                <input class="form_input" type="number" id="price" name="price" min="0" step="0.01"
                                    required>
                            </label>
                            <input type="submit" id="submit" value="Cadastrar">
                        </form>
        </div>
    </div>
</body>

</html>