<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Marketplace</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
    <%- include('partials/stylesheets'); %>
        <link rel="stylesheet" type="text/css" href="../assets/styles/search.css">
        <base href="/">
</head>

<body>

    <%- include('partials/header'); %>

        <section id="products">
            <div class="container products_container">
                <div class="products_div">
                    <aside class="filters">
                        <h2 class="filters_title">Filtros</h2>

                        <h3 class="categories">Categorias</h3>
                        <ul class="categories_ul">
                            <li><a class="categorie_link" href="#">Lorem Ipsum</a></li>
                            <li><a class="categorie_link" href="#">Lorem Ipsum</a></li>
                            <li><a class="categorie_link" href="#">Lorem Ipsum</a></li>
                            <li><a class="categorie_link" href="#">Lorem Ipsum</a></li>
                            <li><a class="categorie_link" href="#">Lorem Ipsum</a></li>
                            <li><a class="categorie_link" href="#">Lorem Ipsum</a></li>
                            <li><a class="categorie_link" href="#">Lorem Ipsum</a></li>
                            <li><a class="categorie_link" href="#">Lorem Ipsum</a></li>
                        </ul>

                        <h3 class="stores">Lojas</h3>
                        <ul class="categories_ul">
                            <li><a class="categorie_link" href="#">Lorem Ipsum</a></li>
                            <li><a class="categorie_link" href="#">Lorem Ipsum</a></li>
                            <li><a class="categorie_link" href="#">Lorem Ipsum</a></li>
                            <li><a class="categorie_link" href="#">Lorem Ipsum</a></li>
                        </ul>
                    </aside>

                    <a class="product_widget" href="/product">
                        <div class="product_image"></div>
                        <p class="product_title">Lorem ipsum dolor sit amet, consectetur</p>
                        <p class="product_price">R$ 99,99</p>
                    </a>

                    <a class="product_widget" href="#">
                        <div class="product_image"></div>
                        <p class="product_title">Lorem ipsum dolor sit amet, consectetur</p>
                        <p class="product_price">R$ 99,99</p>
                    </a>

                    <a class="product_widget" href="#">
                        <div class="product_image"></div>
                        <p class="product_title">Lorem ipsum dolor sit amet, consectetur</p>
                        <p class="product_price">R$ 99,99</p>
                    </a>

                    <a class="product_widget" href="#">
                        <div class="product_image"></div>
                        <p class="product_title">Lorem ipsum dolor sit amet, consectetur</p>
                        <p class="product_price">R$ 99,99</p>
                    </a>

                    <a class="product_widget" href="#">
                        <div class="product_image"></div>
                        <p class="product_title">Lorem ipsum dolor sit amet, consectetur</p>
                        <p class="product_price">R$ 99,99</p>
                    </a>

                    <a class="product_widget" href="#">
                        <div class="product_image"></div>
                        <p class="product_title">Lorem ipsum dolor sit amet, consectetur</p>
                        <p class="product_price">R$ 99,99</p>
                    </a>

                    <a class="product_widget" href="#">
                        <div class="product_image"></div>
                        <p class="product_title">Lorem ipsum dolor sit amet, consectetur</p>
                        <p class="product_price">R$ 99,99</p>
                    </a>

                    <a class="product_widget" href="#">
                        <div class="product_image"></div>
                        <p class="product_title">Lorem ipsum dolor sit amet, consectetur</p>
                        <p class="product_price">R$ 99,99</p>
                    </a>

                    <a class="product_widget" href="#">
                        <div class="product_image"></div>
                        <p class="product_title">Lorem ipsum dolor sit amet, consectetur</p>
                        <p class="product_price">R$ 99,99</p>
                    </a>

                    <a class="product_widget" href="#">
                        <div class="product_image"></div>
                        <p class="product_title">Lorem ipsum dolor sit amet, consectetur</p>
                        <p class="product_price">R$ 99,99</p>
                    </a>

                    <a class="product_widget" href="#">
                        <div class="product_image"></div>
                        <p class="product_title">Lorem ipsum dolor sit amet, consectetur</p>
                        <p class="product_price">R$ 99,99</p>
                    </a>

                    <a class="product_widget" href="#">
                        <div class="product_image"></div>
                        <p class="product_title">Lorem ipsum dolor sit amet, consectetur</p>
                        <p class="product_price">R$ 99,99</p>
                    </a>

                    <a class="product_widget" href="#">
                        <div class="product_image"></div>
                        <p class="product_title">Lorem ipsum dolor sit amet, consectetur</p>
                        <p class="product_price">R$ 99,99</p>
                    </a>

                    <a class="product_widget" href="#">
                        <div class="product_image"></div>
                        <p class="product_title">Lorem ipsum dolor sit amet, consectetur</p>
                        <p class="product_price">R$ 99,99</p>
                    </a>

                    <a class="product_widget" href="#">
                        <div class="product_image"></div>
                        <p class="product_title">Lorem ipsum dolor sit amet, consectetur</p>
                        <p class="product_price">R$ 99,99</p>
                    </a>

                    <a class="product_widget" href="#">
                        <div class="product_image"></div>
                        <p class="product_title">Lorem ipsum dolor sit amet, consectetur</p>
                        <p class="product_price">R$ 99,99</p>
                    </a>

                    <div class="pages">
                        <a class="page_button" href="#">
                            <img src="../assets/images/previous.svg" alt="Página Anterior">
                        </a>

                        <a class="page selected_page" href="#">1</a>
                        <a class="page" href="#">2</a>
                        <a class="page" href="#">3</a>
                        <a class="page" href="#">4</a>

                        <a class="page_button" href="#">
                            <img src="../assets/images/next.svg" alt="Próxima Página">
                        </a>
                    </div>

                </div>
            </div>
        </section>

        <%- include('partials/footer'); %>
</body>

</html>