<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Marketplace</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/styles/user.css">
</head>

<body>
    <%- include('partials/header'); %>

        <section id="user_information">
            <h2>Bem vindo!</h2>
            <button id="dark-mode-toggle" class="dark-mode-toggle">
                <svg width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 496">
                    <path fill="--color"
                        d="M8,256C8,393,119,504,256,504S504,393,504,256,393,8,256,8,8,119,8,256ZM256,440V72a184,184,0,0,1,0,368Z"
                        transform="translate(-8 -8)" />
                </svg>
            </button>
        </section>

        <script type="text/javascript" src="../assets/scripts/user.js"></script>
</body>

</html>