#product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    margin: 0;
    padding: 0;
}
.product_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 400px 140px;
    grid-gap: 20px;
}
.img1 {
    grid-column: 1 / 4;
    background-color: var(--wireframe);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.img2 {
    background-color: var(--wireframe);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.product_div {
    grid-column: 4 / 6;
    grid-row: 1 / 3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 100%;
    height: 480px;
    background-color: var(--widget-color);
    border-radius: 10px;
    padding: 40px;
}
.product_name {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 24px;
    color: var(--primary-color);
}
.product_description {
    font-size: 20px;
    color: var(--text);
}
.price {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 16px;
    color: var(--primary-color);
}

.cta_div {
    display: flex;
    flex-direction: column;
}
.cta_button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 436px;
    margin: 0 0 16px;
    padding: 8px;
    font-size: 24px;
    font-weight: 700;

    background-color: var(--primary-color);
    color: #F5F5F5;
    border-radius: 10px;
}
.secondary_button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 432px;
    margin: 0 0 16px;
    padding: 8px;
    font-size: 24px;
    font-weight: 700;

    color: var(--primary-color);
    border-radius: 10px;
    border-style: solid;
    border-color: var(--primary-color);
}

.store {
    display: flex;
    align-items: center;
}
.store_img {
    width: 40px;
    height: 40px;
    background-color: var(--wireframe);
    border-radius: 50%;
    margin-right: 12px;
}
.store_name {
    font-size: 24px;
    font-weight: 700;
    color: var(--text);
}

.title_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.stores_title {
    color: #2626D9;
    font-size: 32px;
    margin: 0;
    padding: 0;
}
.line {
    height: 2px;
    background-color: #2626D9;
}

#products .line {
    width: 460px;
}
.products_container {
    margin-bottom: 40px;
}
.products_div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    margin-top: 24px;
    width: 100%;
}
.product_widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    background-color: var(--widget-color);
    border-radius: 10px;
}
.product_image {
    width: 100%;
    height: 220px;
    background-color: var(--wireframe);
    margin-bottom: 12px;
}
.product_title {
    font-size: 16px;
    margin-bottom: 16px;
    color: var(--text);
}
.product_price {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-color);
}